* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 1000vh;
}

nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
    top: 16px;
}

.close {
    display: none;
}

.bar {
    display: none;
}

@media (max-width: 600px) {
    .bar {
        display: block;
    }

    .links {
        position: fixed;
        background-color: gray;
        z-index: 30;
        top: -16px;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: .5s;

    }

    .links li {
        font-size: 30px;
        color: white
    }

    .close {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}