body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.countDown {
    background-color: #ddd;
    width: 400px;
    height: 150px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

.countDown div {
    border: 3px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;

}

.countDown div:hover {
    border-color: darkred;
}

.countDown div:hover::after {
    color: darkred;
}

.countDown .days::after {
    content: "Days:";
}

.countDown .hours::after {
    content: "Hours:";
}

.countDown .minutes::after {
    content: "Minutes:";
}

.countDown .seconds::after {
    content: "Seconds:";
}

.countDown div::after {
    font-size: 20px;
    position: absolute;
    top: -30px;
}