* {
    box-sizing: border-box;
}

:root {
    --blue: #2196f3;
    --purple: #b39ddb;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    font-family: sans-serif;
}

.container {
    background-color: white;
    width: 400px;
    margin: 50px auto;
    border-radius: 15px;
    padding: 30px;
}

.container h1 {
    text-align: center;
    color: var(--blue);
}

ul {
    list-style: none;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.steps li {
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps .step.one,
.steps .step.two {
    position: relative;
}


.steps .step.one::after,
.steps .step.two::after {
    content: "-";
    position: absolute;
    top: 5px;
    right: -25px;
    color: black;
}

.container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
}

.container h4 {
    margin-bottom: 5px;
    font-size: 15px;
}

.container .btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container button {
    background-color: var(--blue);
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    display: none;
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}